#container{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

#moto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    visibility: hidden;
}